.signout-btn {
  width: 35px;
  height: 35px;
  border: none;
  outline: none;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 10px;
  background-color: #233b5d;
  text-indent: 2px;
  line-height: 39px;
  cursor: pointer;
}
.signout-btn .fa-sign-out {
  color: #fff;
  font-size: 20px;
}
