.chatRoom {
  width: 700px;
}
.header {
  width: 100%;
  height: 53px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f7f7f7;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  &__nameGroup {
    font-size: 30px;
    font-weight: 700;
    color: #2561b7;
  }
  &__infoUser {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &--nameUser::first-letter {
      text-transform: uppercase;
    }
    &--avatarUser {
      width: 35px;
      border-radius: 50%;
      overflow: hidden;
      margin-left: 10px;
    }
  }
}
.content-chatRoom {
  background-color: #fff;
  padding: 20px;
  height: 450px;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 5px;
    margin: 15px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: transparent;
    transition: all 0.3s;
  }
}
.chatRoom:hover ::-webkit-scrollbar-thumb {
  background: #ff6732;
}
