.inputMessage {
  padding: 10px;
  border: none;
  outline: none;
  height: 100%;
  background-color: transparent;
}
.submit-btn {
  height: 100%;
  width: 100px;
  border: none;
  outline: none;
  background-color: #233b5d;
  cursor: pointer;
}
.submit-btn .fa-paper-plane {
  font-size: 22px;
  color: #fff;
}
