.container-message {
  margin: 10px 0;
  display: flex;
  justify-content: flex-end;
  //   flex-direction: row-reverse; //not = me, use = other
  align-items: flex-end;
}
.container-message-otherUser {
  flex-direction: row-reverse;
}
.avatar-message {
  width: 20px;
  border-radius: 50%;
  overflow: hidden;
}
.timeInit {
  color: rgb(107, 107, 107);
  font-size: 10px;
  font-weight: 300;
}
.content-message {
  max-width: 300px;
  margin: 0 5px;
  background-color: #e1ecfe;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.content-message-otherUser {
  background-color: #e3e3e3;
}
.timeInit-enter {
  opacity: 0;
  transform: translateX(-50px);
}
.timeInit-enter-active {
  opacity: 0;
  transform: translateX(0);
  transition: opacity 0.3s, transform 0.3s;
}
